{% extends "layout.html" %}

{% block title %}
Blog in Tweet
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center text-white mt-4">Welcome to BlogWeb</h1>

    <div class="card p-4 shadow-lg">
        <h2 class="text-center">
            {% if form.instance.pk %}
                Edit Tweet
            {% else %}
                Create Tweet
            {% endif %}
        </h2>
        
        <form action="" method="post" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center">
                <button class="btn btn-warning mt-3" type="submit">Submit</button>
                <a href="{% url 'tweet_list' %}" class="btn btn-secondary mt-3">Back</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}



